.app-container {
  display: flex;
  height: 100vh;
}

.sidebar {
  width: fit-content;
  padding: 10px;
  background-color: #f8f9fa;
  border-right: 1px solid #ddd;
  overflow-y: auto;
}

@media only screen and (max-width: 768px) {
  .sidebar {
    display: none; /* Hidden on small screens */
  }
}

.map-container {
  flex: 1;
  height: 100%;
}

/* Floating buttons hidden by default */
.floating-buttons {
  position: fixed;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  display: none; /* Hidden on larger screens */
  gap: 10px;
  z-index: 401;
}

.filter-button {
  background-color: #28a745;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 50%;
  cursor: pointer;
}

/* Arrow button styling */
.mobile-menu {
  position: fixed;
  bottom: 70px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 402;
  display: none !important;
  border-radius: 50% !important;
  height: 60px !important;
}

/* Full-screen list (hidden by default) */
.fullscreen-list {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 16px;
  position: fixed;
  bottom: -100%;
  left: 0;
  right: 0;
  height: 80%;
  background-color: white;
  overflow-y: auto;
  transition: bottom 0.4s ease;
  z-index: 401;
}

/* Show the full-screen list when active */
.fullscreen-list.active {
  bottom: 0;
}

/* Show floating buttons on screens smaller than 768px */
@media only screen and (max-width: 768px) {
  .floating-buttons {
    display: flex; /* Show on smaller screens */
  }
  .mobile-menu {
    display: block !important;
  }
}
