.app-container {
  display: flex;
  height: 100vh;
}

.sidebar {
  width: fit-content;
  padding: 10px;
  background-color: #f8f9fa;
  border-right: 1px solid #ddd;
  overflow-y: auto;
}

@media only screen and (max-width: 768px) {
  .sidebar {
    display: none;
  }
}

.map-container {
  flex: 1;
  height: 100%;
}

.mobile-menu {
  position: fixed;
  bottom: 70px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 402;
  display: none !important;
  border-radius: 50% !important;
  height: 60px !important;
}

.fullscreen-list {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 16px;
  position: fixed;
  bottom: -100%;
  left: 0;
  right: 0;
  height: 80%;
  background-color: white;
  overflow-y: auto;
  transition: bottom 0.4s ease;
  z-index: 401;
}

.fullscreen-list.active {
  bottom: 0;
}

@media only screen and (max-width: 768px) {
  .floating-buttons {
    display: flex;
  }
  .mobile-menu {
    display: block !important;
  }
}
